/* stylelint-disable */
@font-face {
    font-family: 'Source Serif Pro';
    src: local('SourceSerifPro-Semibold'),
        local('Source Serif Pro Semibold'),
        url('SourceSerifPro-Semibold.woff2') format('woff2'),
        url('SourceSerifPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: local('SourceSerifPro-Light'),
        local('Source Serif Pro Light'),
        url('SourceSerifPro-Light.woff2') format('woff2'),
        url('SourceSerifPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}