@import 'vars.css';
@import 'reset.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  font-family: Avenir;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  display: flex;
  font-size: var(--text-size);
  background-color: var(--background-light);
}

p {
  margin-bottom: 1.2rem;
}

.highlight {
  color: var(--highlight);
  font-weight: 700;
}

h1 {
  font-family: Edo;
  font-size: 8rem;
}

h2 {
  font-family: Edo;
  font-size: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
}

.header-bg {
  position: relative;
  background-image: url(../assets/img/header-bg.png);
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
}

.filter {
  position: absolute;
  background-color: rgba(0, 0, 0, .45);
  z-index: 5;
  height: 100%;
  width: 100%;
}

.header-cloud {
  position: absolute;
  top: 0;
  background-image: url(../assets/img/header-clouds.png);
  height: 100%;
  width: 100%;
  z-index: 2;
  background-size: cover;
}

.header-boat {
  top: 0;
  position: absolute;
  background-image: url(../assets/img/header-boat.png);
  height: 100%;
  width: 100%;
  z-index: 3;
  background-size: cover;
}

.header-hitchcock {
  position: absolute;
  background-image: url(../assets/img/header-hitchcock.png);
  height: 100%;
  width: 100%;
  z-index: 4;
  background-size: cover;
}

.info {
  color: white;
  position: absolute;
  right: 10rem;
  top: 20rem;
  z-index: 6;
  /* clip-path: inset(10px 20px 30px 40px); */
}

.hide {
  display: none;
}

.info > span {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
}

.intro {
  padding: 4rem;
}

.twisted-youth {
  padding: 4rem;
  background-color: var(--background-dark);
  color: var(--text-light);
  overflow: hidden;
}

.twisted-youth > .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
}

.obsession {
  padding: 4rem;
}

.fears {
  padding: 4rem;
}

.humor {
  padding: 4rem;
  background-color: var(--background-dark);
  color: var(--text-light);
}



.jokes {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.vertigo {
  background-color: var(--highlight);
  padding: 4rem 15rem;
  height: 17rem;

  
}

.logo-vertigo {
  position: relative;
  top: 0rem;
  float: left;
  margin-right: 3rem;
}


.ending {
  height: 10rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  color: var(--text-light);
  width: 6rem;
  height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul > li {
  transform: rotate(-90deg);
  padding: 2rem;
  width: auto;
  height: 12rem;
  transform-origin: left top 0;
  text-align: center;
}

.left-border {
  border-left: .5rem solid var(--highlight);
  padding-left: 1.5rem;
}

.image-abs {
  position: relative;
  right: -10%;
}

.humor .image-abs {
  position: relative;
  right: -10%;
  top: -3rem;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yellow-quote {
  position: relative;
  background-color: var(--highlight);
  padding: 2rem;
  color: black;
  float: left;
  width: 35rem;
  left: -4rem;
  margin-right: -2rem;
  top: 1rem;
  margin-bottom: 2rem;
}