@import 'vars.css';
@import 'reset.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  font-family: Avenir;
  font-weight: 300;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: 100%;
  display: flex;
  font-size: var(--text-size);
  background-color: var(--light);
  color: var(--dark);
}

/* section {
  margin-top: 2rem;
  margin-bottom: 2rem;
} */

/* article {
  margin-top: 2rem;
  margin-bottom: 2rem;
} */

p {
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.highlight {
  color: var(--highlight);
  font-weight: 700;
}

h1 {
  font-family: Edo;
  font-size: 8rem;
}

h2 {
  font-family: Edo;
  font-size: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.small-title {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.playbutton {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 3rem;
  height: 3rem;
}

.slide-in {
  will-change: transform;
  opacity: 0;
  transition: all ease-in-out .5s;
}

/* .slide-in-right {
  transform: translateX(80%);
} */

.slide-in-right-script {
  transform: translateX(80%);
}

.slide-in-left-script {
  transform: translateX(80%);
}

/* .slide-in-left {
  transform: translateX(-80%);
} */

.slide-in.active {
  opacity: 1;
  transform: translate(0%);
}

.wriggle.active {
  transform-origin: center top;
  animation: wiggle 3s ease-in-out infinite alternate;
}

@keyframes wiggle {

  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}



.header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 56.25vw;
}

.header-img-container {
  position: relative;
  width: 100%;
  height: 56.25vw;
  overflow: hidden;
}

/* .header-bg {
  position: relative;
  background-image: url(../assets/img/header-bg-1920w.png);
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
} */

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: auto;
}

.filter {
  position: absolute;
  background-color: rgba(0, 0, 0, .45);
  z-index: 5;
  height: auto;
  width: 100%;
}

/* .header-cloud {
  position: absolute;
  top: 0;
  background-image: url(../assets/img/header-clouds-1920w.png);
  height: 100%;
  width: 100%;
  z-index: 2;
  background-size: cover;
  will-change: left;
} */

.header-cloud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: left;
  width: 100vw;
  height: auto;
}

/* .header-boat {
  top: 0;
  position: absolute;
  background-image: url(../assets/img/header-boat-1920w.png);
  height: 100%;
  width: 100%;
  z-index: 3;
  background-size: cover;
  will-change: left;
} */

.header-boat {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  will-change: left;
  width: 100vw;
  height: auto;
}

.mobile-header {
  display: none;
  background-image: url(../assets/img/background-mobile.png);
  background-size: cover;
  width: 100%;
  height: 50rem;
}

/* .header-hitchcock {
  position: absolute;
  background-image: url(../assets/img/header-hitchcock-1920w.png);
  height: 100%;
  width: 100%;
  z-index: 4;
  background-size: cover;
  will-change: left;
} */

.header-hitchcock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  will-change: left;
  width: 100vw;
  height: auto;
}

.info {
  color: var(--light);
  position: absolute;
  right: 10rem;
  top: 20rem;
  z-index: 6;
  /* clip-path: inset(10px 20px 30px 40px); */
}

.hide {
  display: none;
}

.info > span {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
}

.intro {
  padding: 1rem 12rem;
  padding-top: 18rem;
  padding-bottom: 10rem;
  overflow: hidden;
  position: relative;
  margin-top: -8rem;
  margin-bottom: 0;
  background-image: url(../assets/img/background-texture.png);
  background-position: right;
  background-repeat: no-repeat;
}

.birds {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 45vw;
  height: auto;
}

.twisted-youth > .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  grid-template-areas:
    'intro intro intro .'
    'mother mother image image'
    'mother mother . .'
    'quote father father father';
}

.twisted-youth {
  margin-top: 0;
  padding: 6rem 12rem;
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
}

.twisted-youth .first-paragraph {
  grid-area: intro;
}

.twisted-youth .father {
  grid-area: father;
}

.twisted-youth .mother {
  grid-area: mother;
}

.twisted-youth .mother-image {
  grid-area: image;

}

.kill {
  margin-bottom: 2rem;
}

.kill-character {
  background-color: var(--dark);
  padding: 4rem;
  color: var(--light);
}

.kill-character-noscript {
  background-color: var(--dark);
  padding: 4rem;
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
}

.kill-character-noscript h2 {
  width: 100vw;
}

.kill-character-noscript .kill {
  width: 40vw;
}

.kill-nav {
  display: flex;
  justify-content: space-between;
}

.kill-flex {
  display: flex;
  align-items: center;
}

.kill-info {
  margin-left: 2rem;
}

.intro .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 6rem;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 6rem;
} */

.obsession {
  padding: 6rem 12rem;
  overflow: hidden;
  background-image: url(../assets/img/background-texture.png), url(../assets/img/texture-patch.png);
  background-position: right, 20% -3%;
  background-repeat: repeat-y, no-repeat;

}

.obsession > .grid-obs {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'split text'
    'quote text'
    'more tipi';
}

.obsession-title {
  grid-area: title;
}

.obsession-quote {
  grid-area: quote;
  width: 85%;
}

.splitup-image {
  position: relative;
  /* width: 100%; */
  padding-bottom: 32vw;
  left: -12rem;
  margin-top: -7rem;
  grid-area: split;
  top: 3rem;
  margin-bottom: -3rem;
}

.obsession-column-right {
  grid-area: right-column;
  grid-area: text;
}

.obsession .return {
  grid-area: more;
}

.fears {
  padding: 6rem 12rem;
  padding-top: 6rem;
  margin-top: 0;
  overflow: hidden;
  background-image: url(../assets/img/background-texture.png), url(../assets/img/texture-patch.png);
  background-position: right, 10% -3%;
  background-repeat: repeat-y, no-repeat;
}

.fears-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 4fr;
  /* grid-template-rows: repeat(5, min-content); */
  grid-template-areas:
    'fears-title fears-title fears-title fears-title fears-title'
    'police fears eggs eggs top-column'
    'police fears fears-quote fears-quote fears-quote'
    'police fears . . bottom-column'
    'police fears . . bottom-column'
    '. fears extremes extremes extremes';
}

.fears-title {
  grid-area: fears-title;
  justify-self: end;
}

.fears-top-column {
  grid-area: top-column;
}

.fears-bottom-column {
  grid-area: bottom-column;
}

.fears-quote {
  grid-area: fears-quote;
  margin: 5rem 0;
}

.fear-extremes {
  margin-top: 5rem;
  grid-area: extremes;
}

.police-img {
  grid-area: police;
  margin-top: -5rem;
}

.fears-img {
  grid-area: fears;
  margin-top: -5rem;
}

.eggs-img {
  grid-area: eggs;
  margin-top: -25rem;
}

.humor {
  padding: 6rem 12rem;
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
  margin: 0;
}

.humor .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 3rem;

  grid-template-areas:
    'blackhumor image'
    'video jokes'
    'toofar toofar'
    'joke joke';
}

.black-humor {
  grid-area: blackhumor;
}

.toofar {
  grid-area: toofar;
  width: 85%;
}

.video-container {
  grid-area: video;
  position: relative;
  left: -14rem;
  margin-right: -14rem;
  margin-top: 0rem;
}

.highest-fall {
  background-image: url(../assets/img/background-texture.png), url(../assets/img/texture-patch.png);
  background-position: right, 20% -3%;
  background-repeat: repeat-y, no-repeat;
  padding: 3rem 12rem 0rem 0;
}

.slider-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.highest-fall h2 {
  margin-left: 6rem;
}

.practicaljokes {
  grid-area: jokes;
}

.gun-image {
  grid-area: image;
  margin-top: 10rem;
}

button {
  border: 0;
  background: none;
  color: var(--light);
  font-family: Avenir;
  font-size: 1.8rem;
  font-weight: bold;
  outline: none;
}

.button-prev::before {
  content: '';
  display: inline-block;
  position: relative;
  left: -1rem;
  top: .3rem;
  height: 2rem;
  width: 2rem;
  background-image: url(../assets/img/arrow-left.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.button-next::after {
  content: '';
  display: inline-block;
  position: relative;
  right: -1rem;
  top: .3rem;
  height: 2rem;
  width: 2rem;
  background-image: url(../assets/img/arrow-right.svg);
  background-size: auto;
  background-repeat: no-repeat;

}

.jokes {
  margin-top: 5rem;
  background-color: white;
  color: black;
  padding: 4rem;
  display: flex;
  justify-content: center;
  grid-area: joke;
}

.vertigo {
  background-color: var(--highlight);
  padding: 4rem 15rem;
  height: 17rem;
}

.logo-vertigo {
  position: relative;
  top: 0;
  float: left;
  margin-right: 3rem;
}

.ending {
  height: 10rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  color: var(--light);
  width: 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

nav img {
  display: block;
  margin-top: 3rem;
}

nav ul {
  display: flex;
  flex-flow: row-reverse;
  width: 80vh;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column;
  justify-content: space-between; */
  transform-origin: left top 0;
  margin-top: 3rem;
  height: 6rem;
  transform: rotate(-90deg) translate(-100%);
}

nav ul > li {
  padding: 2rem 1rem;
}

nav ul > li a {
  padding: 1.8rem 1rem;
  text-decoration: none;
  color: var(--light);
}

.active-section {
  background-color: var(--highlight);
}

.left-border {
  border-left: .5rem solid var(--highlight);
  padding-left: 1.5rem;
  margin-bottom: 4rem;
}

.twisted-youth .image-abs {
  right: 0;
}

.humor .image-abs {
  right: -13rem;
  margin-left: -10rem;
}

.image-abs {
  position: relative;
  /* right: -12rem; */
  width: 45vw;
  height: auto;
}

.image-abs-left {
  position: absolute;
  left: -10%;
  width: 45vw;
  height: auto;
}

.parallax-obsession {
  will-change: transform;
}

.front {
  z-index: 3;
}

.humor .image-abs {
  /* position: relative;
  right: -10%;
  top: -3rem; */
}

.yellow-quote-happiness {
  grid-area: quote;
  position: relative;
  width: 50rem;
  height: 19rem;
  margin-top: 3rem;
  float: left;
  left: -12rem;
  margin-right: -10rem;

}

.yellow-quote-happiness-mobile {
  display: none;
}

.yellow-quote {
  position: relative;
  background-color: var(--highlight);
  padding: 5rem;
  color: black;
  font-family: 'Source Serif Pro';
  font-weight: 300;
  line-height: 1.4;
}

/* .yellow-quote {
  position: relative;
  background-color: var(--highlight);
  padding: 5rem;
  color: black;
  float: left;
  width: 50rem;
  height: min-content;
  left: -12rem;
  margin-top: 5rem;
  /* margin-right: -2rem;
  top: 1rem;
  margin-bottom: 2rem;
  font-family: 'Source Serif Pro';
  font-weight: 300;
  grid-area: quote;
} */

.yellow-quote-fear {
  background-color: var(--highlight);
  padding: 5rem;
  float: right;
  width: 40rem;
  position: relative;
  left: 12rem;
  margin-left: -10rem;
}

.yellow-quote-fear-mobile {
  display: none;
}

.yellow-quote-tipi {
  grid-area: tipi;
  float: right;
  margin-top: 2rem;
  left: 20rem;
  height: 15rem;
}

.focus-quote {
  font-size: 3.2rem;
  text-align: center;
  line-height: 4rem;
  font-style: italic;
}

.fall-container {
  display: flex;
}

.ledge {
  width: 30vw;
  height: auto;
}

.slider-container {
  display: flex;
  margin-left: -4rem;
  margin-bottom: 12rem;
}

.fallSlider {
  transform: rotate(-90deg);
  margin-left: -8rem;
  margin-top: 13rem;
}

.fall {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type=range] {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 40rem; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none;
}

/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-image: url(../assets/img/skull.png);
  transform: rotate(90deg);
  height: 6.7rem;
  width: 6.5rem;
  cursor: pointer;
  margin-top: -3.2rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
  background-image: url(../assets/img/skull.png);
  height: 36px;
  width: 16px;
  cursor: pointer;
}

/* All the same stuff for IE */

input[type=range]::-ms-thumb {
  background-image: url(../assets/img/skull.png);
  height: 36px;
  width: 16px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  height: .8rem;
  cursor: pointer;
  background: var(--highlight);
}

input[type=range]::-moz-range-track {
  height: .8rem;
  cursor: pointer;
  background: var(--highlight);
}

input[type=range]::-ms-track {
  height: .8rem;
  cursor: pointer;
  background: var(--highlight);
}

@media (max-width: 1300px) {
  
  .intro {
    padding: 8rem 1rem;
  }

  .twisted-youth {
    padding: 2rem;
  }

  .obsession {
    padding: 2rem;
  }

  .fears {
    padding: 2rem;
  }

  .humor {
    padding: 2rem;
  }

  .highest-fall {
    padding: 2rem;
  }

  .yellow-quote-happiness {
    left: -2rem;
    width: auto;
    height: auto;
    margin-right: -1rem;
  }

  .yellow-quote-fear {
    left: 4rem;
    /* width: auto; */
    height: auto;
    margin-left: 2rem;
  }

  .yellow-quote-tipi {
    left: 4rem;
  }

  .splitup-image {
    left: -2rem;
  }

  .video-container {
    left: -14rem;
    margin-right: -14rem;
    margin-top: 0rem;
  }

}

@media (max-width: 960px) {

  nav {
    display: none;
  }

  .twisted-youth {
    /* overflow: visible; */
  }

  .twisted-youth > .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  
    grid-template-areas:
      'intro intro'
      'father father'
      'mother mother'
      '. image';
  }

  .yellow-quote-happiness-mobile {
    float: right;
    padding: 2rem;
    position: relative;
    height: max-content;
    width: 40%;
    margin-bottom: 2rem;
  }

  .yellow-quote-happiness {
    display: none;

  }

  .obsession > .grid-obs {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title title'
      'tipi split'
      'text text'
      'more more'
      'quote quote';
  }

  .yellow-quote-tipi {
    height: max-content;
    width: auto;
    padding: 2rem;
    left: -2rem;
  }

  .obsession-quote {
    width: 100%;
  }

  .splitup-image {
    left: 7rem;
  }

  .fears-grid {
    grid-template-columns: 1fr .5fr 3fr;
    /* grid-template-rows: repeat(5, min-content); */
    grid-template-areas:
      'fears-title fears-title fears-title'
      'eggs top-column top-column'
      'fears-quote fears-quote fears-quote'
      'police .  bottom-column'
      'fears extremes extremes'
      'yellow yellow yellow';
  }

  .yellow-quote-fear-mobile {
    position: relative;
    display: block;
    width: auto;
    margin: 4rem 0;
    grid-area: yellow;
  }

  .yellow-quote-fear {
    display: none;
  }

  .humor .grid {
    grid-template-columns: 1fr;
    grid-gap: 0 3rem;

    grid-template-areas:
      'video'
      'blackhumor'
      'jokes'
      'toofar'
      'joke'
      'image';
    }

    .video-container {
      margin: 0;
      left: 0;
    }

    .toofar {
      width: 100%;
    }

}

@media (max-width: 770px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: block;
    color: var(--light);
    padding: 2rem;
  }

  .mobile-header h1 {
    font-size: 6rem;
  }
  .info {
    display: none;
  }

}

@media (max-width: 500px) {

  html {
    font-size: 150%;
  }

    .intro {
    padding-top: 0;
  }

  h2 {
    font-size: 4rem;
  }

  /* betere fix nodig */

  .button-prev {
    color: var(--dark);
  }

  .button-next {
    color: var(--dark);
  }

  /* p {
    font-size: 4rem;
  } */

  .intro picture {
    display: none;
  }

  .intro .grid {
    grid-template-columns: 1fr;
  }

  .yellow-quote-happiness-mobile {
    float: none;
    padding: 2rem;
    position: relative;
    height: max-content;
    width: 100%;
    margin-bottom: 2rem;
  }

  .video-container {
    width: 100%;
    object-fit: contain;
  }

  .fall-container {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .header-img-container {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
  }

 

  .header-img-container picture {
    object-fit: cover;
  }
  
  
  /* body::before {
    content: 'max: 500px';
  } */

}