/* stylelint-disable */
@font-face {
    font-family: 'Avenir';
    src: local('Avenir-MediumOblique'),
        local('Avenir Medium Oblique'),
        url('Avenir-MediumOblique.woff2') format('woff2'),
        url('Avenir-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir-Light'),
        local('Avenir Light')
        url('Avenir-Light.woff2') format('woff2'),
        url('Avenir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir-Black'),
        local('Avenir Black'),
        url('Avenir-Black.woff2') format('woff2'),
        url('Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir-Medium'),
        local('Avenir Medium'),
        url('Avenir-Medium.woff2') format('woff2'),
        url('Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir-LightOblique'),
        local('Avenir Light Oblique'),
        url('Avenir-LightOblique.woff2') format('woff2'),
        url('Avenir-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}